.portfolio{
    background: var(--background) ;
    transition: all 0.5s;
    text-align: center;
    min-width: 250px;
}

.port-img{
    height: 25rem;    
    max-width: max-content;
    margin: auto;
}

h1{
    font-size: 3rem;
    padding: 2rem;
}

.card{
    padding-bottom: 3rem;
}

.card h3{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
