@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat","sans-serif";
}

:root {
  --background: #FDFDFD;
  --text-primary: #191919;
  --text-secondary: #FECC04;
  --accent: #FECC04;
  --box-color: #f3FDFDFD;
  --button: #FDFDFD;
  --box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
}

[data-theme="dark"] {
  --background: #131313;
  --text-primary: #FDFDFD;
  --text-secondary: #FECC04;
  --accent: #FECC04;
  --box-color: #191919;
  --button: #6a5dcf;
  --box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .9);
}

body {
  background: var(--background);
}

h1, h3,h4,h6, p, a {
  color: var(--text-primary);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* (180deg,
              rgba(0, 109, 91, 1) 0%
              rgba(255, 174, 66, 1) 53%
              rgba(255, 193, 204, 1) 100%); */

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  background: var(--text-primary);
  color: #fff;
  border: 1px solid var(--text-primary);
  border-radius: 10px;
  font-weight: 900;
  cursor: pointer;
}

.btn:hover {
  background: var(--accent); 
  transform: scale(1.02);
}